<div class="container-fluid">

  <div class="lftheder">
    <p class="pagName">Page Name</p>
  </div>

  <div class="rftheder">
      
    <ul class="notific_header">
          <!-- <li><i class="far fa-envelope fa-2x"></i></li>
          <li><i class="far fa-bell fa-2x"></i></li> -->
          <li><a routerLink="/login"> <i class="fa fa-sign-out" aria-hidden="true"></i> <strong>Logout</strong></a></li>
          <div class="clearfix"></div>
    </ul>
 
   <div class="clearfix"></div>
  </div>

</div>
