<div class="container">
  <h2>User list</h2>
  <div *ngIf="def">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div>
    <table class="table" *ngIf="dude">
      <thead>
        <th>
          S.No
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Mobile
        </th>
        <th>
          Actions
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersList; let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{user.firstName}}, {{user.lastName}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.phoneNumber}}
          </td>
          <td>
            <button type="button" (click)="viewUser(user._id)" class="btn btn-primary" data-toggle="modal"
              data-target="#exampleModalLong">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
            <button type="button" (click)="deleteUser(user._id)" class="btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Display User Data -->
    <!-- Modal -->
    <div *ngIf="fasak" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">View User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <input [value]="userObj.firstName" type="text"  [(ngModel)]="firstName" name="firstName" placeholder="first name" class="form-control"/>
                        </div>
                        <div class="form-group">
                          <input value="{{userObj.lastName}}" type="text"  [(ngModel)]="lastName" name="lastName" placeholder="last name"class="form-control" />
                        </div>
                        <div class="form-group">
                          <input value="{{userObj.email}}" type="text" [(ngModel)]="email" name="email"  placeholder="email" class="form-control"/>
                        </div>
                        <div class="form-group">
                          <input value="{{userObj.phoneNumber}}" type="text"  [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="mobile"  class="form-control" />
                        </div>
                        <div class="form-group">
                          <label for="sel1">Select Role</label>
                          <select class="form-control" id="sel1">
                            <option [attr.selected]="userObj.role == 'user' ? true : null"  [(ngModel)]="role" name="role">user</option>
                            <option [attr.selected]="userObj.role == 'admin' ? true : null"  [(ngModel)]="role" name="role">admin</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" (click)="onSubmit()">Update</button>
                          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          <a class="btn btn-link" data-dismiss="modal" aria-label="Close">Cancel</a>
                        </div>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
